<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->	
	  <bean name="st1" class="com.joy.collection.Student">
		<property name="name" value="joy" />
		
		
		<property name="address">
		     <list>
				 <value>India</value>
				 <value>UK</value>			 
			 </list>	
		</property>
		
		<property name="phnno">
		     <set>
				 <value>11111111111</value>
				 <value>99999999999</value>			 
			 </set>	
		</property>
		
		<property name="courses">
		     <map>
				 <entry key="java" value="2 months"></entry>
				 <entry key="C++" value="8 months"></entry>		 
			 </map>	
		</property>
		
	</bean>

</beans>