<?xml version="1.0" encoding="UTF-8"?>

<!-- This can be found in spring framework documentation -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!--  Implementation of setter based injection via beans  -->
   <bean id="doctor" class="demo.Doctor">
       <property name="qualification" value="MBBS"></property>
   </bean>
   
   
   <!-- Implementation of constructor based injection via beans -->
   <bean id="nurse" class="demo.Nurse">
          <constructor-arg value="Head"></constructor-arg>
   </bean>
   
</beans>